body{
    
    background-color: aliceblue;
    font-family: cursive;
    color: pink;
    font-size: 1.5rem;
}
h1{
    text-align: center;
}
/*button{
    color: aliceblue;
    font-family: cursive;
    background-color: pink;
    font-size: 1.5rem;
    border-radius: 5px;
    
}*/