body{
    text-align: center;
    background-color: aliceblue;
    font-family: cursive;
    color: pink;
    font-size: 1.5rem;
}
button{
    color: aliceblue;
    font-family: cursive;
    background-color: pink;
    font-size: 1.5rem;
    border-radius: 5px;
    
}